@if (Model.renderTop) {
@:<div class="boxout">
    @Html.Partial("name", RazorX.ViewEngine.RazorXProps.Create().Add("renderTop", true).Build())
}
@if (!Model.renderTop) {
    @Html.Partial("name", RazorX.ViewEngine.RazorXProps.Create().Add("renderTop", false).Build())
@:</div>
}
